*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.landing-nav {
  width: 100vw;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0%;
  /* border: 2px solid black ; */
}
    
nav ul li {
  margin: 10px;
}

.items li button{
  display: flex;
  list-style: none;
}