.head{
    margin: auto;
    text-align: center;
    margin-bottom: 60px;
    
}
.password{
    margin-top: 50px;
    margin-bottom: 10px;
}

.submit{
    padding: 20px;
    margin:auto;
    text-align: center;
}

.submit button{
    background-color: aqua;
}

.reset{
    width: max-content;
    /* height: 40vh; */
    margin: auto;
}