.getUSer{
    background: none;
    background-color: #ffffffdf;
}


.search h1{
    text-align: left;
    font-size: 40px;
    color: #000000;
    position: fixed;
    top: 20px;
    font-style:italic;
}

.search input{
    position: relative;
    top: 10px; 
}
.table-container {
    width: 50vw;
    height: 70vh;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(68, 63, 63, 0.1);
    background-color: rgb(230, 255, 230);
    box-shadow : 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px ;
}

table {
    width: 100%;
    margin: 25px 10x;
}

thead {
    color: #000000;
}

thead th {
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}


tbody td {
    padding: 10px;
    text-align: left;
}

tbody input[type="text"],
tbody input[type="email"] {
    border: 1px solid #ddd;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    padding: 8px 20px;
    background-color: #007bff39;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #00a7b3;
}

a {
    text-decoration: none;
    color: inherit;
}

.pagination button{
    margin-left: 10px;
    
}

.pagination span {
    color: blue;
}